<article class="rounded-md shadow-md">
  <h2 class="text-center text-xl font-bold">{{ idea.title }}</h2>

  <section class="mt-3 flex justify-center">
    @for (tag of idea.tags; track tag) {
      <p-tag [value]="tag" styleClass="ml-2"></p-tag>
    }
  </section>

  <p class="mt-3">{{ idea.description }}</p>

  <section class="mt-5 flex items-center justify-between">
    <p-chip styleClass="pl-0 pr-2" pTooltip="Created Date" tooltipPosition="bottom">
      <span class="flex h-8 w-8 items-center justify-center rounded-full bg-green-500 text-white"> C </span>
      <span class="ml-2 font-medium">{{ idea.createdTs | date: DATE_FORMAT }}</span>
    </p-chip>

    <section class="flex gap-4">
      <p-button icon="pi pi-trash" [rounded]="true" styleClass="bg-red-500" (click)="deleteIdea()"></p-button>
    </section>

    <p-chip styleClass="pl-0 pr-2" pTooltip="Last Updated Date" tooltipPosition="bottom">
      <span class="flex h-8 w-8 items-center justify-center rounded-full bg-blue-500 text-white"> U </span>
      <span class="ml-2 font-medium">{{ idea.createdTs | date: DATE_FORMAT }}</span>
    </p-chip>
  </section>
</article>
